@page
@model MyApp.Namespace.ReservarModel
@{
    ViewData["Title"] = "Crear Reserva";
    DateTime maxDate = DateTime.Now.AddYears(1);
}

<h1>Crear Reserva</h1>

<form method="post" class="d-flex justify-content-center align-items-center flex-wrap">
    <!-- Selección de habitación -->
    <div class="form-group me-3">
        <label for="habitacion" class="form-label">Seleccione habitación:</label>
        <select id="habitacion" class="form-control form-control-sm" name="habitacion">
            <option value="" disabled selected>--Seleccione una habitación--</option>
            @if (Model.Habitaciones == null || !Model.Habitaciones.Any())
            {
                <option>No hay habitaciones disponibles</option>
            }
            else
            {
                @foreach (var habitacion in Model.Habitaciones)
                {
                    <option value="@habitacion.Id">Habitación N°: @habitacion.Numero</option>
                }
            }
        </select>
    </div>
    <!-- Fechas -->
    <div class="form-group me-3">
        <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
        <input id="fechaInicio" class="form-control form-control-sm" type="date" name="fechaInicio" required
            min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label for="fechaFin" class="form-label">Fecha de fin:</label>
        <input id="fechaFin" class="form-control form-control-sm" type="date" name="fechaFin" required
            min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@maxDate.ToString("yyyy-MM-dd")" />
    </div>
    <!-- Botón de envío -->
    @if ((Model.Habitaciones == null || !Model.Habitaciones.Any()))
    {
        <p class="text-danger">No se puede crear una Reserva sin una habitación.</p>
        <button type="submit" class="btn btn-primary" disabled>Reservar</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Reservar</button>
    }
</form>